$font-size-base : 16px;
// colors

$light-red : #ff525d;
$very-light-red : #ff7a85;
$dark-blue: #1f3f5b;
$white: #ffffff;
$grayish-blue:  hsla(240, 2%, 79%,0.4);
$dark-grayish-blue : #4b5862;
$black-blue: #25252d;

// gradient-colors
$gradient-very-light-red : #ff8f70;
$gradient-light-red: #ff3d54;
$gradient-dark-gray-blue: #2c2d3f;
$gradient-dark-dessaturated-blue: #3f4164;